<html>
  <head>
    <title>Welcome to TopherServe 0.0.1!</title>
  </head>
  <body>
    <h1> Welcome to TopherServe! </h1>
    This server supports:
    <ul>
      <li>/ - This page</li>
      <li>/welcome - a welcome message that takes on optional name argument</li>
      <li>/login - a page that allows users to log in for page view counting</li>
    </ul>
  </body>
</html>